<ion-list class="body-background-secondary">
  <ion-list-header class="booking-summary-list-header">
    <ion-label class="list-header-label">Booking Summary</ion-label>
  </ion-list-header>
  <ion-grid class="ion-padding booking-summary-grid">
    <ion-row *ngFor="let detail of service?.package?.details " class="booking-summary-row">
      <ion-col class="booking-summary-label-col">
        <ion-label class="booking-summary-label">{{ detail?.feesChargeName }}</ion-label>
        <ion-label class="booking-summary-sub-label">{{ detail?.remarks }}</ion-label>
      </ion-col>
      <ion-col class="booking-summary-value-col">
        <ion-label>{{ detail?.amount | stringcurrency}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="booking-summary-col-divider">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="booking-summary-label-col">
        <!-- <hr/> -->
        <ion-label class="booking-summary-label">Total</ion-label>
        <ion-label class="booking-summary-sub-label">VAT Inclusive</ion-label>
      </ion-col>
      <ion-col class="booking-summary-value-col">
        <ion-label>
          <!-- {{ totalFee | stringcurrency}} -->
          {{ totalFee || service?.package?.amount | stringcurrency }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>