<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary" mode="ios" class="app-tabs-toolbar">
    <ion-tab-button tab="main">
      <ion-icon name="home-outline" color="secondary"></ion-icon>
      <!-- <mat-icon>home</mat-icon> -->
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="appointments">
      <ion-icon name="time-outline" color="secondary"></ion-icon>
      <!-- <mat-icon>history</mat-icon> -->
      <!-- <ion-label>Bookings</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline" color="secondary"></ion-icon>
      <!-- <mat-icon color="secondary">face</mat-icon> -->
      <!-- <ion-label>Profile</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>