ion-menu {
    --width: 100%;
}

.app-menu-content {
    background-color: var(--ion-color-primary);
    --background: var(--ion-color-primary);
}

.app-menu-content div {
    --background: var(--ion-color-primary);
}

.container {
    top: 30%;
}

h3 {
    // font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
}

.app-version {
    color: #fff !important;
}