div {
    font-size: 12px;
    text-align: left;
    top: 0 !important;
    transform: unset !important;
}

.address-phone-text {
    font-style: italic;
    font-weight: bold;
}

.user-information {
    text-transform: capitalize;
}