h6 {
      font-size: 13px;
      color: var(--ion-color-primary);
      font-weight: 600 !important;
}

.h-value {
      font-weight: 400 !important;
}

.amount {
      font-weight: 600 !important;
      color: var(--ion-color-secondary);
}

.img-col {
      line-height: 150px;
      height: 150px;
      text-align: center;
}

.img-earnings {
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
}